<!--[if (mso)|(mso 16)]>
<style type="text/css">a {text-decoration: none;}</style>
<![endif]-->
<body style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="x-apple-disable-message-reformatting" />
	<table style="width: 100%; max-width: 320px; margin: auto;">
		<tbody cellpadding="0" cellspacing="0">
			<tr>
				<td>
					<img src="https://gitlab.com/charliebegood/email-signatures/-/raw/master/charles" width="90" alt="">
				</td>
				<td style="padding-left: 10px;">
					<table>
						<tbody>
							<tr>
								<td style="font-size: 16px; color: #262B6C; font-weight: bold;">Charles Aubert</td>
							</tr>
							<tr>
								<td style="font-size: 13px; color: #656565; font-weight: 600;">+33766702966</td>
							</tr>
							<tr>
								<td style="font-size: 13px; color: #656565; font-weight: 600;">charlaubert@icloud.com</td>
							</tr>
							<tr>
								<table cellpadding="0" cellspacing="0">
									<tbody>
										<tr style="text-align: center;">
											<td style="text-align: center; padding-left: 5px">
												<a href="https://www.instagram.com/charliebegoood/" target="_blank">
													<img src="https://gitlab.com/charliebegood/email-signatures/-/raw/master/instagram" width="25" height="25"/>
												</a>
											</td>
											<td style="text-align: center; padding-left: 10px">
												<a href="https://twitter.com/charlaubert" target="_blank">
													<img src="https://gitlab.com/charliebegood/email-signatures/-/raw/master/twitter" width="25" height="25"/>
												</a>
											</td>
											<td style="text-align: center; padding-left: 10px">
												<a href="https://www.linkedin.com/in/charles-aubert-b50455138/" target="_blank">
													<img src="https://gitlab.com/charliebegood/email-signatures/-/raw/master/linkedin" width="25" height="25" />
												</a>
											</td>
										</tr>
									</tbody>
								</table>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</body>